extends layout
block content
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    .menubar(class='navbar navbar-default navbar-static-top')
        ul(class='nav navbar-nav')
          li <a href="/">Home</a>
          li <a href="about">About Us</a>
    .container
      .row
        .col-xs-4
          h2
            font(face='Lobster') About Us
        .col-xs-4
          img(src='../images/gang.jpg', class="img-responsive", alt='Google logo')
        .col-xs-4
      .row
        .col-xs-12
          h3(style="text-align:center") 
            font(face='Lobster') SuiFu.JackS
          p(style="text-align:center")
            SuiFu.JackS is a simple chat room we made for HackUST 2016. We designed it just for fun and the hackathon experience. It's a chat room that you can play Reversi with your friends in a sneaky way, perfect for slacking off during work in the office. We designed the chessboard in such a way that your boss won't get suspicious. We haven't tried it before, but you can take our word for it, we'll do literally anything to make sure everyone can choose to accomplish nothing. SuiFu.JackS is named after a highschool friend of ours, he's not a jackass though, but we all agree he's a dumbass. (If you're reading this, Sui Fu, we want you to know your friendship means the world to us, so does your stupidity.)
      .row
      .row
        .col-xs-4
          img(src='../images/kev.jpg', class="img-responsive", alt='Google logo')
        .col-xs-8
          h2
            font(face='verdana') Kev Lai
          p
            font(face='verdana') The spirital leader of the SuiFuJackS Team. The whole project was based on his desire to play Aeroplane Chess secretly, which later transformed into the Reversi game that we have now. As the guy who knows the most about web dev in the gang, he usually uses AngularJS and MongoDB but this time he decided to do something new: to learn Socket.io and create views using Jade template engine. With these new knowledge he designed the chat room and implemented OAuth2.0 using Passport.js. As the glue who holds the whole team together, he offered help to every teammate and stayed up all night fixing most of the bugs, his ultimate goal was to make sure his friends could have a good time.
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='https://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-4
          img(src='../images/cfu.jpg', class="img-responsive", alt='Google logo')
        .col-xs-8
          h2
            font(face='verdana') Lawrence Tso
          p
            font(face='verdana') AKA Master Tso. Yes, he's armed with great coding skills, but it's actually his words that dominate, he can literally get away with anything using his mouth. Therefore, he was our natural choice for presentation and demonstration of our project. As an engineer in Hutchison 3G, one of the main Internet providers in Hong Kong, he becomes an expert in msql databases. Recently he started to shift his focus to MongoDB, so he was responsible for the database design and data transmission. 
          ul
            li
              a(href='https://github.com/lawrencetso')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-4
          img(src='../images/bladder.jpg', class="img-responsive", alt='Google logo')
        .col-xs-8
          h2
            font(face='verdana') Clifford Wu
          p
            font(face='verdana') A humble Actuarial analyist who wanted to see what a hackathon looks like. The last time he coded it was six years ago when he had to write a phone book program using Pascal (along with Kev and Lawrence). His expertise pretty much only applied to the presentation part as we were not working on anything trying to make money. His insane karate skills also didn't help much either. However, thanks to some help from FreeCodeCamp's tutorials and Kev's constant mentoring, he managed to pick up JavaScript (and jQuery) really fast in one day and actually helped a great deal in the chessboard design and data visualization while having lots of fun.
          ul
            li
              a(href='https://github.com/wcckong')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-4
          img(src='../images/william.jpg', class="img-responsive", alt='Google logo')
        .col-xs-8
          h2
            font(face='verdana') William Chan
          p
            font(face='verdana') A CS student in CUHK who is familiar with web development using MEAN stack, in fact, it was him who introduced Kev to Socket.io. He designed the Reversi game in the project thanks to his experience of coding a Reversi game using Perl a few weeks ago, which made him a key player in the team. 
          ul
            li
              a(href='https://github.com/the11060')
                em
                  font(face='Lobster') Github
        .col-xs-3
