extends layout
block content
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    .menubar(class='navbar navbar-default navbar-static-top')
        ul(class='nav navbar-nav')
          li <a href="/">Home</a>
          li <a href="about">About</a>
    h2
      font(face='Lobster') About Us
    .container
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Kev Lai
          p
            font(face='Lobster') The spirital leader of the SuiFuJackS Team. As the guy who glued the whole team together, he was the one that supported what every teammate was working on. His passion for Reversi enabled him (did I tell you he) to stay up all night fixing most of the bugs when everyone couldn't take it anymore.
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Lawrence Tso
          p
            font(face='Lobster') Known as the Master Tso. 
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Kev Lai
          p
            font(face='Lobster') dgndgndgn
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Kev Lai
          p
            font(face='Lobster') dgndgndgn
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
