extends layout
block content
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    .menubar(class='navbar navbar-default navbar-static-top')
        ul(class='nav navbar-nav')
          li <a href="/">Home</a>
          li <a href="about">About</a>
    h2
      font(face='Lobster') About Us
    .container
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Kev Lai
          p
            font(face='Lobster') The spirital leader of the SuiFuJackS Team. He supported what every other teammate was working on and was willing to stay up all night fixing most of the bugs. The whole project was based on his idea of wanting to play Aeroplane Chess secretly, which later transformed into the Reversi that we have now. He usually uses  AngularJS and MongoDB when it comes to web dev but this time he decided to do something new and learned Socket.io and create views using Jade template engine. With these new knowledge he designed the chat room and implemented OAuth2.0 using Passport.js.
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Lawrence Tso
          p
            font(face='Lobster') Known as the Master Tso. 
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Clifford Wu
          p
            font(face='Lobster') An Actuarial graduate and the last time he coded it was six years ago when he had to write a phone book using Pascal (along with Kev and Lawrence). Though overwhelmed by HTML, CSS, JavaScript and tons of terms that he With some basic help from FreeCodeCamp's tutorials and Kev's mentoring he managed to help making this web app look better. 
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
      .row
        .col-xs-9
          img(src='http://www.google.se/images/google_80wht.gif', alt='Google logo')
        .col-xs-6
          h2
            font(face='verdana') Kev Lai
          p
            font(face='Lobster') dgndgndgn
          ul
            li
              a(href='http://kevlaichungsing.blogspot.com')
                em
                  font(face='Lobster') Blog
            li
              a(href='http://www.github.com/kevguy')
                em
                  font(face='Lobster') Github
        .col-xs-3
