extends layout

style
    a { color: #C2575B; text-decoration: none; }
    a:hover { color: #F76F76; }

block content
    .menubar(class='navbar navbar-default navbar-static-top')
        ul(class='nav navbar-nav')
          li <a href="#">Home</a>
          li <a href="about">About</a>
    .container-fluid(class='fill')
        div#home(class='chat-content')
            .col-xs-10(class='main')
                h1.title
                    .room-title Express Chat Room
                    #profile
                .content(id="expresschat", class='fheight')
                .controls(class='form-inline')
                    .col-xs-10
                        input#message(class='form-control full')
                    .col-xs-2
                        button#send(type='button', class='btn btn-success full') Send
            .col-xs-2(id='user')
                .heading Members in Chat
                ul#user-list
                #board Fuck you all